<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>vue to-do list</title>
</head>
<body>
    <div id="myapp">

        <input type="text" v-model="textTasks" placeholder="inserisci una task">
        <button @click="addTask">new task</button>
        
        <div v-if="tasks.length === 0">Non hai tasks da svolgere</div>
        <ul v-else>
            <li :class="tasks[i].done === true ? 'don': ''"v-for="task, i in tasks" :keys="i" >
                {{task.text}}
                <span @click="linedone(i)"> &#9745</span>
                <span @click="removeTask(i)">&#9746 </span>
            </li>
        </ul>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="script.js"></script>
</body>
</html>